name: Build Flutter Android APK
on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install dependencies
        run: |
          cd flutter_app
          flutter pub get
      - name: Build release APK
        run: |
          cd flutter_app
          flutter build apk --release
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-apk
          path: flutter_app/build/app/outputs/flutter-apk/app-release.apk

      - name: Create or update Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          artifacts: flutter-apk
          skipIfReleaseExists: true
          token: ${{ secrets.GITHUB_TOKEN }}
